<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Academics</display-name>
  <context-param>
    <param-name>stringConexao</param-name>
    <param-value>jdbc:oracle:thin:@localhost</param-value>
  </context-param>
  <context-param>
    <param-name>usuario</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>senha</param-name>
    <param-value>admin</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletUploadFile</servlet-name>
    <servlet-class>Servlets.ServletUploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUploadFile</servlet-name>
    <url-pattern>/Servlets/ServletUploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDownload</servlet-name>
    <servlet-class>Servlets.ServletDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDownload</servlet-name>
    <url-pattern>/Servlets/ServletDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Testes</servlet-name>
    <servlet-class>Servlets.Testes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testes</servlet-name>
    <url-pattern>/Servlets/Testes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Servlets/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>/Academics/src/Servlets/ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/bemVindo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAluno</servlet-name>
    <servlet-class>Servlets.ServletAluno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAluno</servlet-name>
    <url-pattern>/Servlets/ServletAluno</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCidade</servlet-name>
    <servlet-class>Servlets.ServletCidade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCidade</servlet-name>
    <url-pattern>/Servlets/ServletCidade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAdmin</servlet-name>
    <servlet-class>Servlets.ServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdmin</servlet-name>
    <url-pattern>/Servlets/ServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSemestre</servlet-name>
    <servlet-class>Servlets.ServletSemestre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSemestre</servlet-name>
    <url-pattern>/Servlets/ServletSemestre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDisciplina</servlet-name>
    <servlet-class>Servlets.ServletDisciplina</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDisciplina</servlet-name>
    <url-pattern>/Servlets/ServletDisciplina</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletProfessor</servlet-name>
    <servlet-class>Servlets.ServletProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProfessor</servlet-name>
    <url-pattern>/Servlets/ServletProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCurso</servlet-name>
    <servlet-class>Servlets.ServletCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCurso</servlet-name>
    <url-pattern>/Servlets/ServletCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AtualizaCidades</servlet-name>
    <servlet-class>Servlets.Atualizar.AtualizaCidades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizaCidades</servlet-name>
    <url-pattern>/Servlets.Atualizar/AtualizaCidades</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletProfSemestre</servlet-name>
    <servlet-class>Servlets.ServletProfSemestre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProfSemestre</servlet-name>
    <url-pattern>/Servlets/ServletProfSemestre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAlunoSemestre</servlet-name>
    <servlet-class>Servlets.ServletAlunoSemestre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlunoSemestre</servlet-name>
    <url-pattern>/Servlets/ServletAlunoSemestre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCursoProfSem</servlet-name>
    <servlet-class>Servlets.ServletCursoProfSem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCursoProfSem</servlet-name>
    <url-pattern>/Servlets/ServletCursoProfSem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAberturaAtividade</servlet-name>
    <servlet-class>Servlets.ServletAberturaAtividade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAberturaAtividade</servlet-name>
    <url-pattern>/Servlets/ServletAberturaAtividade</url-pattern>
  </servlet-mapping>
</web-app>